extends layout

block stylesheets 
    link(rel='stylesheet' href='/stylesheets/plant_info.css')

block content
    div(class="container-fluid d-flex justify-content-center" id="image_of_plant")
        img(class="img-fluid" src=plant_image[0] alt=plant_name)
    article(class="container h-100")
        div(class="col h-100")
                h1(class="text-center") !{plant_name}
                -var image_index = 1;
                each text, index in plant_text  
                    p !{text} 
                    if image_index < plant_image.length && index % 2 == 0
                        if image_index - 1 % 2 == 0
                            img(class="img-fluid plant_images" src=plant_image[image_index] alt=image_index align="right")
                        else
                            img(class="img-fluid plant_images" src=plant_image[image_index] alt=image_index align="left")
                        -image_index++
                        
    script.
        function myFunction(x) {
            if (x.matches) { // If media query matches
                var images = document.getElementsByClassName("plant_images");
                for( i = 0; i <images.length; i++){
                    images[i].setAttribute("align", "middle")
                }
            }
        }

        var x = window.matchMedia("(max-width:576px)")
        myFunction(x) // Call listener function at run time
        x.addListener(myFunction) // Attach listener function on state changes