extends layout

block stylesheets 
    link(rel='stylesheet' href='/stylesheets/plant_info.css')

block content
    div(class="container-fluid d-flex justify-content-center" id="image_of_plant")
        img(class="img-fluid" src=plant_image[0] alt=plant_name)
    article(class="container h-100")
        div(class="class=row h-100 justify-content-center align-items-center")
            div(class="article_container col")
                h1 !{plant_name}
                img(class="img-fluid" src=plant_image[0] alt=plant_name align="right") 
                p !{plant_text}